### Generare i JSON per le mappe: tipo 1, conto dei residenti

Obiettivo di questo notebook è di preparare i dati per  poi generare i JSON pronti per alimentare le mappe del progetto. Cominciamo con le mappe del tipo 1, che contano semplicemente i residenti. La spiegazione è [sul wiki](https://github.com/spaghetti-open-data/-milano-melting-pot/wiki/2.-Metodologia-e-workflow).

Anzitutto verifichiamo i dati sui residenti. Il file JSON sembra corrotto. Controlliamo il CSV:

In [1]:
import csv
dirPath = '/Users/albertocottica/Documents/GitHub/-milano-melting-pot/dati/'
data = [] # we know from JSON that 
with open(dirPath + 'ds27_pop_sto_quartiere.csv') as datafile:
    reader = csv.DictReader(datafile, delimiter=';')
    for row in reader:
        drow = dict(row)
        drow['Anno'] = drow.pop('\ufeffAnno') # questo è per togliere spazzatura che confonde il nome del campo
        data.append(drow)
print (len(data))

2136906

In [2]:
print(data[0])

{'IdNil': '1', 'Nil': 'Duomo', 'Eta': '0', 'Genere': 'Femmine', 'Cittadinanza': 'Cinese, Rep. Popolare', 'Residenti': '1', 'Anno': '1999'}

In [3]:
quartieri = [] # quanti e quali quartieri abbiamo?
missingRecords = 0 
for item in data:
    if 'Nil' in item:        
        if item['Nil'] not  in quartieri:
            quartieri.append(item['Nil'])
    else:
        missingRecords += 1

print (quartieri)
print ('Gli ID di quartiere a Milano sono ' + str(len(quartieri)))
print ('Bad records: ' + str(missingRecords) + ' su ' + str(len(data)))

['Duomo', 'Brera', 'Giardini Porta Venezia', 'Guastalla', 'Vigentina', 'Ticinese', 'Magenta - S. Vittore', 'Parco Sempione', 'Garibaldi Repubblica', 'Centrale', 'Isola', 'Maciachini - Maggiolina', 'Greco', 'Niguarda - Cà Granda', 'Bicocca', 'Vle Monza', 'Adriano', 'Parco Lambro - Cimiano', 'Padova', 'Loreto', 'Buenos Aires - Venezia', 'Città Studi', 'Lambrate', 'Parco Forlanini - Ortica', 'Corsica', 'XXII Marzo', 'Porta Romana', 'Umbria - Molise', 'Ortomercato', 'Mecenate', 'Parco Monlué - Ponte Lambro', 'Triulzo Superiore', 'Rogoredo', 'Chiaravalle', 'Lodi - Corvetto', 'Scalo Romana', 'Ex OM - Morivione', 'Ripamonti', 'Quintosole', 'Ronchetto delle Rane', 'Gratosoglio - Ticinello', 'Stadera', 'Tibaldi', 'Navigli', 'S. Cristoforo', 'Barona', 'Cantalupa', 'Ronchetto S/N', 'Giambellino', 'Tortona', 'Washington', 'Bande Nere', 'Lorenteggio', 'Muggiano', 'Baggio', 'Forze Armate', 'Selinunte', 'De Angeli - Monte Rosa', 'Tre Torri', 'S. Siro', 'Quarto Cagnino', 'Quinto Romano', 'Figino', 'Trenno', 'Gallaratese', 'QT 8', 'Portello', 'Pagano', 'Sarpi', 'Ghisolfa', 'Villapizzone', 'Maggiore - Musocco', 'Cascina Triulza - Expo', 'Sacco', 'Stephenson', 'Quarto Oggiaro', 'Bovisa', 'Farini', 'Dergano', 'Affori', 'Bovisasca', 'Comasina', 'Bruzzano', 'Parco Nord', 'Parco delle Abbazie', 'Parco dei Navigli', 'Parco Agricolo Sud', 'Parco Bosco in Città']
Gli ID di quartiere a Milano sono 88
Bad records: 0 su 2136906

In [4]:
anni = [] # quanti e quali anni abbiamo?
missingRecords = 0 
for item in data:
    if 'Anno' in item:        
        if item['Anno'] not  in anni:
            anni.append(item['Anno'])
    else:
        missingRecords += 1

print (anni)
print ('Anni nel dataset: ' + str(len(anni)))
print ('Bad records: ' + str(missingRecords) + ' su ' + str(len(data)))

['1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']
Anni nel dataset: 20
Bad records: 0 su 2136906

Controlliamo che la popolazione corrisponda

In [5]:
pop = 0
nonItaliani = 0
for item in data:
    if item['Anno'] == '2018':
        pop += int(item['Residenti'])
        if item['Cittadinanza'] != 'Italia':
            nonItaliani += int(item['Residenti'])
print(pop)
print (nonItaliani)

1395274
275818

In [6]:
nazioni = [] # quante e quali nazionalità abbiamo?
missingRecords = 0 
for item in data:
    if 'Cittadinanza' in item:        
        if item['Cittadinanza'] not  in nazioni:
            nazioni.append(item['Cittadinanza'])
    else:
        missingRecords += 1

print (nazioni)
print ('Le nazionalità presenti a Milano sono ' + str(len(nazioni)))
print ('Bad records: ' + str(missingRecords) + ' su ' + str(len(data)))

['Cinese, Rep. Popolare', 'Egitto', 'Etiopia', 'Filippine', 'Italia', 'Sri Lanka (ex Ceylon)', 'Togo', 'Perù', 'Francia', 'Libano', 'Mauritius', 'Regno Unito', 'India', 'Spagna', "Stati Uniti D'America", 'Israele', 'Turchia', 'Grecia', 'Marocco', 'Portogallo', 'Germania', 'Giappone', 'El Salvador', 'Iran', 'Bulgaria', 'Ecuador', 'Croazia', 'Bosnia-Erzegovina', 'ex Jugoslavia', 'Albania', 'Siria', 'Argentina', 'Cuba', 'Georgia', 'Dominicana, Rep.', 'Svizzera', 'Colombia', 'Eritrea', 'Romania', 'Russa, Federazione', 'Somalia', 'Ucraina', 'Venezuela', 'Belgio', 'Danimarca', 'Irlanda', 'Ungheria', 'Brasile', 'Svezia', 'Australia', 'Austria', 'Estonia', 'Dominica', 'Taiwan (ex Formosa)', 'Tunisia', 'Capo Verde', 'Ghana', 'Kenya', 'Lituania', 'Nigeria', 'Norvegia', 'Paesi Bassi', 'Ruanda', 'Thailandia', 'Giordania', 'Finlandia', 'Cile', 'Indonesia', 'Canada', 'Haiti', 'Nepal', 'Pakistan', 'Messico', 'Polonia', 'Corea del Sud, Rep.', 'Bolivia', 'Uruguay', 'Costa Rica', 'Senegal', 'Lussemburgo', 'Giamaica', 'Tanzania', 'Libia', 'Slovenia', 'Seychelles', 'Malta', 'San Marino', 'Ceca, Rep.', 'Sudan', 'Sud Africa', 'Nuova Zelanda', 'Iraq', 'Apolide', 'Slovacchia', 'Bangladesh', 'Kazakistan', "Costa D'Avorio", 'Camerun', 'Algeria', 'Benin (ex Dahomey)', 'Malaysia', 'Altre nazioni o n.d.', 'Guatemala', 'Uzbekistan', 'Islanda', 'Burkina Faso (ex Alto Volta)', 'Paraguay', 'Zambia', 'Angola', 'Guinea', 'Gambia', 'Panama', 'Congo', 'Cipro', 'Sierra Leone', 'Vietnam', 'Yemen', 'Lettonia', 'Uganda', 'Afghanistan', 'Singapore', 'Trinidad e Tobago', 'Burundi', 'Madagascar', 'Azerbaigian', 'Congo Rep. Dem (ex Zaire)', 'Arabia Saudita', 'Macedonia, ex Rep. Jugoslava', 'Nicaragua', 'Gabon', 'Myanmar (ex Birmania)', 'Liberia', 'Mozambico', 'Antigua e Barbuda', 'Moldova', 'Armenia', 'Mauritania', 'Bhutan', 'Mali', 'Suriname', 'Territori Autonomia Palestinese', 'Honduras', 'Zimbabwe (ex Rhodesia)', 'Andorra', 'Monaco', 'Gibuti', 'Niger', 'Ciad', 'Guinea Bissau', 'Bahamas', 'Mongolia', 'Barbados', 'Bielorussia', 'Kuwait', 'Turkmenistan', 'Corea del Nord, Rep. Pop. Dem', 'Centrafricana, Rep.', 'Tagikistan', 'Belize', 'Liechtenstein', 'Sao Tomè e Principe', 'Laos', 'Cambogia', 'Kirghizistan', 'Serbia', 'Montenegro', 'Kosovo', 'Maldive', 'Saint Kitts e Nevis', 'Malawi', 'Swaziland', 'Lesotho', 'Oman', 'Guinea Equatoriale', 'Sud Sudan, Repubblica del', 'Timor Orientale']
Le nazionalità presenti a Milano sono 176
Bad records: 0 su 2136906

A questo punto possiamo pre-aggregare i dati. 

Per la mappa 1 (vedere [il wiki](https://github.com/spaghetti-open-data/-milano-melting-pot/wiki/2.-Metodologia-e-workflow)), vogliamo sapere quante persone abbiamo di ciascuna nazionalità, in ciascun quartiere e in ciascun anno. Qundi dobbiamo sommare la variabile `'Residenti'` per ciascuna tripla di valori sulle variabili `'Anno'`, `'Nil'` e `'Cittadinanza'`. Inoltre, non dobbiamo perderci il genere.

Mi faccio un dizionario di liste di dizionari; questo serve a rendere il codice più efficiente. Questo mi servirà per generare i files JSON delle prime tre mappe.

In [7]:
nestedData = {}
for quartiere in quartieri:
    nestedData[quartiere] = []
    for item in data:
        if item['Nil'] == quartiere:
            nestedData[quartiere].append(item)

In [8]:
test = nestedData['Duomo']

print (len(test))

31858

In [9]:
import datetime
start_script = datetime.datetime.now()
summedData = []
for key in nestedData:
    y = nestedData[key]
    print('++++++ '+ str(key))
    for anno in anni:
        # print (anno)
        for nazione in nazioni: 
            triple = {'Anno': anno, 'Nil': key, 'Cittadinanza': nazione, 'Maschi': 0, 'Femmine': 0}
            for item in y:
                now = item ['Anno']
                people = item  ['Cittadinanza']
                if anno == now and people == nazione:
                    if item['Genere'] == 'Femmine':
                        triple['Femmine'] += int(item ['Residenti'])
                    else: 
                        triple['Maschi'] += int(item['Residenti'])
            summedData.append(triple)

print (summedData[0])
print (len(summedData))

end_script = datetime.datetime.now()
print ('Completato in ' + str(end_script-start_script))

++++++ Duomo
++++++ Brera
++++++ Giardini Porta Venezia
++++++ Guastalla
++++++ Vigentina
++++++ Ticinese
++++++ Magenta - S. Vittore
++++++ Parco Sempione
++++++ Garibaldi Repubblica
++++++ Centrale
++++++ Isola
++++++ Maciachini - Maggiolina
++++++ Greco
++++++ Niguarda - Cà Granda
++++++ Bicocca
++++++ Vle Monza
++++++ Adriano
++++++ Parco Lambro - Cimiano
++++++ Padova
++++++ Loreto
++++++ Buenos Aires - Venezia
++++++ Città Studi
++++++ Lambrate
++++++ Parco Forlanini - Ortica
++++++ Corsica
++++++ XXII Marzo
++++++ Porta Romana
++++++ Umbria - Molise
++++++ Ortomercato
++++++ Mecenate
++++++ Parco Monlué - Ponte Lambro
++++++ Triulzo Superiore
++++++ Rogoredo
++++++ Chiaravalle
++++++ Lodi - Corvetto
++++++ Scalo Romana
++++++ Ex OM - Morivione
++++++ Ripamonti
++++++ Quintosole
++++++ Ronchetto delle Rane
++++++ Gratosoglio - Ticinello
++++++ Stadera
++++++ Tibaldi
++++++ Navigli
++++++ S. Cristoforo
++++++ Barona
++++++ Cantalupa
++++++ Ronchetto S/N
++++++ Giambellino
++++++ Tortona
++++++ Washington
++++++ Bande Nere
++++++ Lorenteggio
++++++ Muggiano
++++++ Baggio
++++++ Forze Armate
++++++ Selinunte
++++++ De Angeli - Monte Rosa
++++++ Tre Torri
++++++ S. Siro
++++++ Quarto Cagnino
++++++ Quinto Romano
++++++ Figino
++++++ Trenno
++++++ Gallaratese
++++++ QT 8
++++++ Portello
++++++ Pagano
++++++ Sarpi
++++++ Ghisolfa
++++++ Villapizzone
++++++ Maggiore - Musocco
++++++ Cascina Triulza - Expo
++++++ Sacco
++++++ Stephenson
++++++ Quarto Oggiaro
++++++ Bovisa
++++++ Farini
++++++ Dergano
++++++ Affori
++++++ Bovisasca
++++++ Comasina
++++++ Bruzzano
++++++ Parco Nord
++++++ Parco delle Abbazie
++++++ Parco dei Navigli
++++++ Parco Agricolo Sud
++++++ Parco Bosco in Città
{'Anno': '1999', 'Nil': 'Duomo', 'Cittadinanza': 'Cinese, Rep. Popolare', 'Maschi': 14, 'Femmine': 11}
309760
Completato in 0:23:40.832843

Testiamo per vedere se funziona bene:

In [10]:
for i in range(10):
    print(summedData[i])
print (len(summedData))

{'Anno': '1999', 'Nil': 'Duomo', 'Cittadinanza': 'Cinese, Rep. Popolare', 'Maschi': 14, 'Femmine': 11}
{'Anno': '1999', 'Nil': 'Duomo', 'Cittadinanza': 'Egitto', 'Maschi': 40, 'Femmine': 12}
{'Anno': '1999', 'Nil': 'Duomo', 'Cittadinanza': 'Etiopia', 'Maschi': 9, 'Femmine': 22}
{'Anno': '1999', 'Nil': 'Duomo', 'Cittadinanza': 'Filippine', 'Maschi': 97, 'Femmine': 205}
{'Anno': '1999', 'Nil': 'Duomo', 'Cittadinanza': 'Italia', 'Maschi': 8653, 'Femmine': 8948}
{'Anno': '1999', 'Nil': 'Duomo', 'Cittadinanza': 'Sri Lanka (ex Ceylon)', 'Maschi': 91, 'Femmine': 76}
{'Anno': '1999', 'Nil': 'Duomo', 'Cittadinanza': 'Togo', 'Maschi': 0, 'Femmine': 2}
{'Anno': '1999', 'Nil': 'Duomo', 'Cittadinanza': 'Perù', 'Maschi': 21, 'Femmine': 57}
{'Anno': '1999', 'Nil': 'Duomo', 'Cittadinanza': 'Francia', 'Maschi': 100, 'Femmine': 91}
{'Anno': '1999', 'Nil': 'Duomo', 'Cittadinanza': 'Libano', 'Maschi': 21, 'Femmine': 10}
309760

Sembra di sì. La variabile `Eta` è sparita; ora i residenti di tutte le età sono aggregati in un unico record per ciascuna nazionalità, quartiere e anno.

Ora voglio aggregare le nazionalità per regioni geografiche. In prima approssimazione, manteniamo la classificazione del progetto [Brussels Melting Pot](http://brussels-diversity.jetpack.ai/), e usiamo i nomi inglesi delle categorie per mantenere la comparabilità con esso. Questa prevede due livelli di aggregazione: regioni e continenti. Per prima cosa costruisco liste dei paesi che appartengono a ciascuna regione. Le regioni sono:

* EU 15 ([definizione](https://stats.oecd.org/glossary/detail.asp?ID=6805)), esclusa l'Italia
* EU N13, cioè i 28 paesi dell'UE meno i 15 di EU 15 
* Non-EU Europe (questo non c'è nel progetto Bruxelles)
* North Africa 
* Sub-Saharian Africa
* Eastern Asia ([definizione](https://en.wikipedia.org/wiki/East_Asia))
* Southern Asia
* Southeast Asia (non c'è nel progetto di Bruxelles, se i numeri sono piccoli lo elimino dopo)
* Western Asia
* North America
* South America
* Oceania
* Other (residuo)

I continenti sono:

* Europe
* Asia
* Africa
* North America
* South America
* Oceania

(il residuo è omesso)

Scrivo questa aggregazione come una funzione.

In [11]:
def assign_country(country):
    '''
    returns a tuple with the region and continent of country
    '''
    # elenco nazionalità, attribuite alla regione
    
    eu15 = ['Francia', 'Regno Unito', 'Spagna', 'Grecia', 'Portogallo', 'Germania', 'Belgio', 'Danimarca', 'Irlanda', 
        'Svezia', 'Austria', 'Paesi Bassi', 'Finlandia', 'Lussemburgo', 'Andorra', 'Monaco', 'Liechtenstein']
    eun13 = ['Bulgaria', 'Croazia', 'Romania', 'Ungheria', 'Estonia', 'Lituania', 'Polonia', 'Slovenia', 'Ceca, Rep.', 
         'Slovacchia', 'Lettonia', 'Malta', 'Cipro']
    otheu = ['Bosnia-Erzegovina', 'ex Jugoslavia', 'Albania', 'Georgia', 'Svizzera', 'Russa, Federazione', 'Ucraina', 
         'Norvegia', 'Moldova', 'Armenia', 'Islanda', 'Bielorussia', 'Azerbaigian', 'Kosovo', 'Serbia', 'Montenegro', 
         'Macedonia, ex Rep. Jugoslava']
    noraf = ['Egitto', 'Marocco', 'Tunisia', 'Libia', 'Algeria']
    ssaf = ['Etiopia', 'Togo', 'Mauritius', 'Eritrea', 'Somalia', 'Capo Verde', 'Ghana', 'Kenya', 'Nigeria', 'Ruanda', 
        'Senegal', 'Tanzania', 'Seychelles', 'Sudan', 'Sud Africa', "Costa D'Avorio", 'Camerun', 
        'Benin (ex Dahomey)', 'Burkina Faso (ex Alto Volta)', 'Zambia', 'Angola', 'Guinea', 'Gambia', 'Congo', 
        'Sierra Leone', 'Uganda', 'Burundi', 'Madagascar', 'Congo Rep. Dem (ex Zaire)', 'Gabon', 'Liberia', 
        'Mozambico', 'Mauritania', 'Mali', 'Zimbabwe (ex Rhodesia)', 'Gibuti', 'Niger', 'Ciad', 'Guinea Bissau', 
        'Centrafricana, Rep.', 'Sao Tomè e Principe', 'Malawi', 'Swaziland', 'Lesotho', 'Guinea Equatoriale', 
         'Sud Sudan, Repubblica del']
    eastas = ['Cinese, Rep. Popolare', 'Giappone', 'Taiwan (ex Formosa)', 'Corea del Sud, Rep.', 
          'Corea del Nord, Rep. Pop. Dem', 'Mongolia']
    southas = ['India', 'Bangladesh', 'Afghanistan', 'Bhutan', 'Maldive', 'Pakistan', 'Sri Lanka (ex Ceylon)', 'Nepal']
    seas = ['Indonesia', 'Malaysia', 'Vietnam', 'Singapore', 'Myanmar (ex Birmania)', 'Laos', 'Cambogia', 
        'Timor Orientale', 'Thailandia', 'Filippine']
    westas = ['Libano', 'Israele', 'Turchia', 'Iran', 'Siria', 'Iraq', 'Kazakistan', 'Uzbekistan', 'Yemen', 
          'Territori Autonomia Palestinese', 'Kuwait', 'Turkmenistan', 'Tagikistan', 'Kirghizistan', 'Oman']
    noram = ["Stati Uniti D'America", 'Canada', 'Giordania', 'Arabia Saudita']
    soam = ['Messico', 'Perù', 'El Salvador', 'Ecuador', 'Argentina', 'Cuba', 'Dominicana, Rep.', 'Colombia', 
        'Venezuela', 'Brasile', 'Dominica', 'Cile', 'Haiti', 'Bolivia', 'Uruguay', 'Costa Rica', 'Giamaica', 
       'Guatemala', 'Panama', 'Trinidad e Tobago', 'Nicaragua', 'Antigua e Barbuda', 'Suriname', 'Honduras', 
       'Bahamas', 'Barbados', 'Belize', 'Saint Kitts e Nevis', 'Paraguay']
    ocean = ['Australia', 'Nuova Zelanda']
    other = ['Altre nazioni o n.d.', 'Apolide']


    if country in eu15:
        location = ('eu15', 'europa')
    elif country in eun13:
        location = ('eun13', 'europa')
    elif country in otheu:
        location = ('otheu', 'europa')
    elif country in noraf:
        location = ('noraf', 'africa')
    elif country in ssaf:
        location = ('ssaf', 'africa')
    elif country in eastas:
        location = ('eastas', 'asia')
    elif country in southas:
        location = ('southas', 'asia')
    elif country in seas:
        location = ('seas', 'asia')
    elif country in westas:
        location = ('westas', 'asia')
    elif country in noram:
        location = ('noram', 'north america')
    elif country in soam:
        location = ('soam', 'south america')
    elif country in ocean:
        location = ('ocean', 'oceania')
    elif country in other:
        location = ('other','')
    else: 
        location = ('ita', 'italia')
    return location

Rimangono fuori dalle 176 nazionalità 
solo Italia e San Marino, che in effetti contano come indigeni a Milano. 

Aggiungo regioni e continenti al dataset, usando la mia funzione.

In [12]:
for item in summedData:
    nazione = item['Cittadinanza']
    item['regione'] = assign_country(nazione)[0]
    item['continente'] = assign_country(nazione)[1]

print (summedData[:4]) ## just for testing  
print (len(summedData))

[{'Anno': '1999', 'Nil': 'Duomo', 'Cittadinanza': 'Cinese, Rep. Popolare', 'Maschi': 14, 'Femmine': 11, 'regione': 'eastas', 'continente': 'asia'}, {'Anno': '1999', 'Nil': 'Duomo', 'Cittadinanza': 'Egitto', 'Maschi': 40, 'Femmine': 12, 'regione': 'noraf', 'continente': 'africa'}, {'Anno': '1999', 'Nil': 'Duomo', 'Cittadinanza': 'Etiopia', 'Maschi': 9, 'Femmine': 22, 'regione': 'ssaf', 'continente': 'africa'}, {'Anno': '1999', 'Nil': 'Duomo', 'Cittadinanza': 'Filippine', 'Maschi': 97, 'Femmine': 205, 'regione': 'seas', 'continente': 'asia'}]
309760

Questo è un primo risultato. Lo salvo.

In [14]:
import json
with open (dirPath + 'summedData.json', 'w') as jsonfile:
    json.dump(summedData, jsonfile)
print('Done')

Done

Produco un file per la mappa 1, con la struttura descritta [qui](https://github.com/spaghetti-open-data/-milano-melting-pot/issues/3#issue-451241445).

In [15]:
start_script = datetime.datetime.now()
map1Data = []
regio = ['eastas', 'noraf', 'ssaf', 'seas', 'ita', 'southas', 'soam', 'eu15', 'westas', 'noram', 'eun13', 
         'otheu', 'ocean', 'other']
for anno in anni:
    print (anno)
    for quartiere in quartieri:
        # print (quartiere)
        for regione in regio: 
            newrecord ={'Anno': anno, 'Nil': quartiere}
            for item in summedData: 
                if item['Anno'] == anno and item['Nil'] == quartiere and item['regione'] == regione:
                    newkey = item['regione'] + ' M'
                    if newkey not in newrecord:
                        newrecord[newkey] = item['Maschi']
                        newrecord[item['regione'] + ' F'] = item['Femmine']
                        newrecord[item['regione'] + ' Tot'] = item['Maschi'] + item['Femmine']
                    else:
                        newrecord[item['regione'] + ' M'] += item['Maschi']
                        newrecord[item['regione'] + ' F'] += item['Femmine']
                        newrecord[item['regione'] + ' Tot'] += (item['Maschi'] + item['Femmine'])      
            map1Data.append(newrecord)

print(map1Data[:4])

end_script = datetime.datetime.now()
print ('Completato in ' + str(end_script-start_script))

1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
[{'Anno': '1999', 'Nil': 'Duomo', 'eastas M': 38, 'eastas F': 33, 'eastas Tot': 71}, {'Anno': '1999', 'Nil': 'Duomo', 'noraf M': 68, 'noraf F': 34, 'noraf Tot': 102}, {'Anno': '1999', 'Nil': 'Duomo', 'ssaf M': 48, 'ssaf F': 93, 'ssaf Tot': 141}, {'Anno': '1999', 'Nil': 'Duomo', 'seas M': 100, 'seas F': 209, 'seas Tot': 309}]
Completato in 0:11:34.105823

In [16]:
print(len(map1Data))

24640

Infine, salviamo in json.

In [17]:
import json
dirPath2 = '/Users/albertocottica/Documents/GitHub/-milano-melting-pot/dati/'
with open (dirPath2 + 'map1Data.json', 'w') as outfile:
    json.dump(map1Data, outfile)
print('Done')

Done

Per facilitare il lavoro agli sviluppatori web, mi scrivo anche un dataset "compatto", con un record per regione, quartiere e anno. In questo modo le 176 nazionalità vengono compattate in 15 regioni. Mantengo l'informazione su Maschi e Femmine, che può servire, ma aggiungo per ciascuna regione un campo `Tot`, la somma di maschi + femmine. **Devo controllare con Tommaso, Cesare e Marco che questo formato gli funzioni. Se non gli funziona, cancello la cella**.

In [19]:
compactData = []
for anno in anni:
    print (anno)
    for quartiere in quartieri:
        # print (quartiere)
        newrecord ={'Anno': anno, 'Nil': quartiere}
        for item in summedData: 
            if item['Anno'] == anno and item['Nil'] == quartiere:
                newkey = item['regione'] + ' M'
                if newkey not in newrecord:
                    newrecord[newkey] = item['Maschi']
                    newrecord[item['regione'] + ' F'] = item['Femmine']
                    newrecord[item['regione'] + ' Tot'] = item['Maschi'] + item['Femmine']
                else:
                    newrecord[item['regione'] + ' M'] += item['Maschi']
                    newrecord[item['regione'] + ' F'] += item['Femmine']
                    newrecord[item['regione'] + ' Tot'] += (item['Maschi'] + item['Femmine'])      
        compactData.append(newrecord)

print(compactData[:4])
print(len(compactData[0]))
print(len(compactData))

1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
[{'Anno': '1999', 'Nil': 'Duomo', 'eastas M': 38, 'eastas F': 33, 'eastas Tot': 71, 'noraf M': 68, 'noraf F': 34, 'noraf Tot': 102, 'ssaf M': 48, 'ssaf F': 93, 'ssaf Tot': 141, 'seas M': 100, 'seas F': 209, 'seas Tot': 309, 'ita M': 8654, 'ita F': 8948, 'ita Tot': 17602, 'southas M': 112, 'southas F': 86, 'southas Tot': 198, 'soam M': 67, 'soam F': 193, 'soam Tot': 260, 'eu15 M': 336, 'eu15 F': 327, 'eu15 Tot': 663, 'westas M': 68, 'westas F': 56, 'westas Tot': 124, 'noram M': 73, 'noram F': 74, 'noram Tot': 147, 'eun13 M': 17, 'eun13 F': 39, 'eun13 Tot': 56, 'otheu M': 66, 'otheu F': 68, 'otheu Tot': 134, 'ocean M': 3, 'ocean F': 2, 'ocean Tot': 5, 'other M': 4, 'other F': 1, 'other Tot': 5}, {'Anno': '1999', 'Nil': 'Brera', 'eastas M': 51, 'eastas F': 54, 'eastas Tot': 105, 'noraf M': 66, 'noraf F': 28, 'noraf Tot': 94, 'ssaf M': 77, 'ssaf F': 104, 'ssaf Tot': 181, 'seas M': 78, 'seas F': 173, 'seas Tot': 251, 'ita M': 8179, 'ita F': 9344, 'ita Tot': 17523, 'southas M': 89, 'southas F': 58, 'southas Tot': 147, 'soam M': 73, 'soam F': 170, 'soam Tot': 243, 'eu15 M': 319, 'eu15 F': 341, 'eu15 Tot': 660, 'westas M': 24, 'westas F': 14, 'westas Tot': 38, 'noram M': 85, 'noram F': 78, 'noram Tot': 163, 'eun13 M': 18, 'eun13 F': 23, 'eun13 Tot': 41, 'otheu M': 82, 'otheu F': 84, 'otheu Tot': 166, 'ocean M': 3, 'ocean F': 5, 'ocean Tot': 8, 'other M': 2, 'other F': 1, 'other Tot': 3}, {'Anno': '1999', 'Nil': 'Giardini Porta Venezia', 'eastas M': 0, 'eastas F': 0, 'eastas Tot': 0, 'noraf M': 0, 'noraf F': 0, 'noraf Tot': 0, 'ssaf M': 0, 'ssaf F': 2, 'ssaf Tot': 2, 'seas M': 2, 'seas F': 4, 'seas Tot': 6, 'ita M': 17, 'ita F': 15, 'ita Tot': 32, 'southas M': 2, 'southas F': 1, 'southas Tot': 3, 'soam M': 1, 'soam F': 0, 'soam Tot': 1, 'eu15 M': 4, 'eu15 F': 4, 'eu15 Tot': 8, 'westas M': 0, 'westas F': 0, 'westas Tot': 0, 'noram M': 1, 'noram F': 0, 'noram Tot': 1, 'eun13 M': 0, 'eun13 F': 0, 'eun13 Tot': 0, 'otheu M': 0, 'otheu F': 0, 'otheu Tot': 0, 'ocean M': 0, 'ocean F': 0, 'ocean Tot': 0, 'other M': 0, 'other F': 0, 'other Tot': 0}, {'Anno': '1999', 'Nil': 'Guastalla', 'eastas M': 39, 'eastas F': 34, 'eastas Tot': 73, 'noraf M': 66, 'noraf F': 37, 'noraf Tot': 103, 'ssaf M': 48, 'ssaf F': 93, 'ssaf Tot': 141, 'seas M': 101, 'seas F': 197, 'seas Tot': 298, 'ita M': 6835, 'ita F': 7926, 'ita Tot': 14761, 'southas M': 110, 'southas F': 75, 'southas Tot': 185, 'soam M': 68, 'soam F': 185, 'soam Tot': 253, 'eu15 M': 176, 'eu15 F': 245, 'eu15 Tot': 421, 'westas M': 61, 'westas F': 47, 'westas Tot': 108, 'noram M': 41, 'noram F': 44, 'noram Tot': 85, 'eun13 M': 22, 'eun13 F': 29, 'eun13 Tot': 51, 'otheu M': 80, 'otheu F': 92, 'otheu Tot': 172, 'ocean M': 3, 'ocean F': 0, 'ocean Tot': 3, 'other M': 1, 'other F': 1, 'other Tot': 2}]
44
1760

Voglio compattare ancora di più, come richiesto da Marco Scarselli. Faccio due cose:

* elimino il breakdown tra maschi e femmine.
* sostituisco il `Nil` con l'identificativo `IdNil` (si trova nel file di dati grezzi).

Per prima cosa, costruisco un dizionario che mappa da `Nil` a `IdNil`.

In [20]:
dictMap = {}
for item in data:
    key = item['Nil']
    if key not in dictMap:
        dictMap[key] = item['IdNil']
print(dictMap)

{'Duomo': '1', 'Brera': '2', 'Giardini Porta Venezia': '3', 'Guastalla': '4', 'Vigentina': '5', 'Ticinese': '6', 'Magenta - S. Vittore': '7', 'Parco Sempione': '8', 'Garibaldi Repubblica': '9', 'Centrale': '10', 'Isola': '11', 'Maciachini - Maggiolina': '12', 'Greco': '13', 'Niguarda - Cà Granda': '14', 'Bicocca': '15', 'Vle Monza': '16', 'Adriano': '17', 'Parco Lambro - Cimiano': '18', 'Padova': '19', 'Loreto': '20', 'Buenos Aires - Venezia': '21', 'Città Studi': '22', 'Lambrate': '23', 'Parco Forlanini - Ortica': '24', 'Corsica': '25', 'XXII Marzo': '26', 'Porta Romana': '27', 'Umbria - Molise': '28', 'Ortomercato': '29', 'Mecenate': '30', 'Parco Monlué - Ponte Lambro': '31', 'Triulzo Superiore': '32', 'Rogoredo': '33', 'Chiaravalle': '34', 'Lodi - Corvetto': '35', 'Scalo Romana': '36', 'Ex OM - Morivione': '37', 'Ripamonti': '38', 'Quintosole': '39', 'Ronchetto delle Rane': '40', 'Gratosoglio - Ticinello': '41', 'Stadera': '42', 'Tibaldi': '43', 'Navigli': '44', 'S. Cristoforo': '45', 'Barona': '46', 'Cantalupa': '47', 'Ronchetto S/N': '48', 'Giambellino': '49', 'Tortona': '50', 'Washington': '51', 'Bande Nere': '52', 'Lorenteggio': '53', 'Muggiano': '54', 'Baggio': '55', 'Forze Armate': '56', 'Selinunte': '57', 'De Angeli - Monte Rosa': '58', 'Tre Torri': '59', 'S. Siro': '60', 'Quarto Cagnino': '61', 'Quinto Romano': '62', 'Figino': '63', 'Trenno': '64', 'Gallaratese': '65', 'QT 8': '66', 'Portello': '67', 'Pagano': '68', 'Sarpi': '69', 'Ghisolfa': '70', 'Villapizzone': '71', 'Maggiore - Musocco': '72', 'Cascina Triulza - Expo': '73', 'Sacco': '74', 'Stephenson': '75', 'Quarto Oggiaro': '76', 'Bovisa': '77', 'Farini': '78', 'Dergano': '79', 'Affori': '80', 'Bovisasca': '81', 'Comasina': '82', 'Bruzzano': '83', 'Parco Nord': '84', 'Parco delle Abbazie': '85', 'Parco dei Navigli': '86', 'Parco Agricolo Sud': '87', 'Parco Bosco in Città': '88'}

Eseguo le trasformazioni su `compactData`.

In [21]:
ultraCompact = []
for item in compactData:
    newitem ={'Anno': item['Anno'], 'IdNil': dictMap[item['Nil']]}
    for regione in regio:
        newitem[regione] = item[regione + ' Tot']
    ultraCompact.append(newitem)
print(len(ultraCompact))
print(ultraCompact[0])

1760
{'Anno': '1999', 'IdNil': '1', 'eastas': 71, 'noraf': 102, 'ssaf': 141, 'seas': 309, 'ita': 17602, 'southas': 198, 'soam': 260, 'eu15': 663, 'westas': 124, 'noram': 147, 'eun13': 56, 'otheu': 134, 'ocean': 5, 'other': 5}

Salvo anche questo:

In [22]:
import json
dirPath2 = '/Users/albertocottica/Documents/GitHub/-milano-melting-pot/dati/'
with open (dirPath2 + 'map1Data_ultracompact.json', 'w') as outfile:
    json.dump(ultraCompact, outfile)
print('Done')

Done